* {
    font-family: 'Poppins', 'OpenSans';
}

section {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #121212;
}

section .HomeUI {
    height: auto;
    width: 100%;
    margin: 20px 30px 0 0;
    padding: 0 20px 0 0;
}

section .HomeUI .welcomeCard {
    padding: 10px 0 10px 15px;
}

section .HomeUI .welcomeCard p {
    height: auto;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255, 0.6);
}

section .HomeUI .welcomeCard h5 {
    height: auto;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255, 0.87);
}

section .HomeUI .questionsListCard {
    margin: 15px;
    background-color: rgb(255, 255, 255, 0.05);
    border-radius: 5px;
}

section .HomeUI .questionsListCard table {
    border-spacing: 0px;
}

section .HomeUI .questionsListCard table th {
    background-color: rgb(255, 255, 255, 0.07);
}

section .HomeUi .questionsListCard table tr th {
    padding: 10px;
}

section .HomeUI .questionsListCard table .header th h6 {
    color: rgb(255, 255, 255, 0.87);
    text-align: left;
    margin: 0px;
}

section .HomeUI .questionsListCard table tr td {
    color: rgb(255, 255, 255, 0.87);
    margin: 10px;
    text-align: left;
}