#page1 {
    overflow-x: hidden;
    box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    transition-timing-function: ease;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    white-space: nowrap;
}

.upperLayer {
    height: 92%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#page2 {
    overflow-x: hidden;
    box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    transition-timing-function: ease;
    width: 0%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    white-space: nowrap;
    display: none;
}

#page3 {
    overflow-x: hidden;
    box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    transition-timing-function: ease;
    width: 0%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    white-space: nowrap;
    display: none;
}

.mdl-button--raised.mdl-button--colored {
    background: #03a373;
}

#inPage1,
#inPage2,
#inPage3,
#before,
#after {
    transition: 0.4s;
    transition-timing-function: ease;
}